# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
app/tmp.yml

# Node dependencies
node_modules

# Logs
logs
*.log

# Test reports
test-results

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
